@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
/***************************** */
/******** Begin Layout ******* */
/***************************** */
/* --- Begin General Elements */
body {
  background: #d9d9d9;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #000;
}
figure {
  margin: 0;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.full-width {
  width: 100% !important;
}
/* End General Elements --- */
/* --- Begin Header */
#header .header-top {
  font-size: 12px;
  height: 40px;
  background: #b6b6b6;
}
#header .header-top .top-block-left {
  background: #333;
  height: 40px;
}
#header .header-top .top-block-right {
  background: #b6b6b6;
  color: #fff;
}
#header .form-search {
  float: right;
  margin-right: 15px;
}
#header .form-search .search-query {
  height: 15px;
  margin-top: 8px;
  width: 80px;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#header .form-search .big-search {
  width: 150px;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#header .banner {
  height: 82px;
  background: #fff;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(75%, #ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 75%, #f4f4f4);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: -o-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
}
#header .banner .date-header {
  width: 25%;
  text-align: center;
  line-height: 85px;
  color: #ababab;
  font-size: 12px;
}
#header .social-links {
  width: 24%;
  margin-left: 18px;
  text-align: left;
  line-height: 85px;
  font-size: 14px;
}
#header .social-links a {
  margin-right: 10px;
}
#header #logo {
  margin: 0px 0px 0px 50px;
  width: 50%;
}
#header #main-menu {
  background: #fff;
  height: 30px;
}
#header #main-menu a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
}
/* End Header --- */
/* --- Begin Content Elements */
#main {
  background: #f2f2f2;
}
#main-content {
  padding: 15px 0px 15px 15px;
}
/* End General Content Elements --- */
/* --- Begin Index */
.news {
  border-bottom: #c7c7c7 1px solid;
}
.news figure figcaption {
  text-align: center;
  font-size: 11px;
}
.news .featured-thumb {
  background: #fff;
  padding: 20px 15px 5px 15px;
  position: relative;
}
.news .featured-thumb .landing-title {
  position: absolute;
  top: 0;
  left: 0px;
  background: #333;
  color: #fff;
  font-size: 11px;
  padding: 0px 15px;
  border-left: #626262 15px solid;
}
.news h2 {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 1.6;
}
.news .excerpt {
  font-size: 13px;
}
.news .new-links {
  clear: both;
}
.news .new-links a {
  display: block;
  margin-right: 10px;
  float: left;
}
.featured-new {
  margin-bottom: 20px;
}
.featured-new h2 {
  font-size: 16px;
  border-top: #9a9a9a 1px dotted;
  padding-top: 5px;
  margin-top: 20px;
}
.news-list {
  position: relative;
  margin-bottom: 15px;
}
.news-list .secundary-thumb {
  float: left;
  position: absolute;
  bottom: 0px;
  left: 15px;
  border-left: #fff 1px solid;
  border-right: #fff 1px solid;
  border-top: #fff 1px solid;
}
.news-list header,
.news-list .excerpt {
  width: 75%;
}
.news-list h2 {
  margin-top: 5px;
}
.extra-news {
  display: inline-block;
  width: 48%;
}
.extra-news h4 {
  margin-top: 15px;
}
.extra-news .news-link {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
.left-block {
  margin-right: 18px;
  -webkit-box-shadow: 1px 0px 0px 0px #d8d8d8;
  -moz-box-shadow: 1px 0px 0px 0px #d8d8d8;
  box-shadow: 1px 0px 0px 0px #d8d8d8;
  border-right: #fff 1px solid;
}
#map {
  margin-top: 25px;
}
#videos {
  margin-bottom: 15px;
}
#videos .video {
  width: 185px;
  margin-right: 16px;
  float: left;
}
#videos .video .title {
  padding: 10px 0px;
  display: block;
}
/* End Index --- */
/* --- Begin Sidebar */
#sidebar {
  border-left: #d7d7d7 1px solid;
  -webkit-box-shadow: -1px 0px 0px 0px #ffffff;
  -moz-box-shadow: -1px 0px 0px 0px #ffffff;
  box-shadow: -1px 0px 0px 0px #ffffff;
  height: 100%;
}
#sidebar > .block {
  padding: 5px 15px 5px 15px;
}
#sidebar #graph img {
  background: #fff;
  padding: 5px;
  width: 95%;
}
#sidebar #login-form .form-horizontal .control-label {
  width: 60px;
}
#sidebar #login-form .form-horizontal .controls {
  margin-left: 80px;
}
#sidebar #extra {
  padding-top: 20px;
}
#sidebar #extra .ad {
  margin-bottom: 20px;
}
#sidebar .weatherFeed {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  width: 100%;
  margin-top: 10px;
}
#sidebar .weatherFeed a {
  color: #888;
}
#sidebar .weatherFeed a:hover {
  color: #000;
  text-decoration: none;
}
#sidebar .weatherItem {
  padding: 20px;
  text-align: right;
}
#sidebar .weatherCity {
  text-transform: uppercase;
}
#sidebar .weatherTemp {
  font-size: 2.8em;
  font-weight: bold;
}
#sidebar .weatherDesc,
#sidebar .weatherCity,
#sidebar .weatherForecastDay {
  font-weight: bold;
}
#sidebar .weatherDesc {
  margin-bottom: 0.4em;
}
#sidebar .weatherRange,
#sidebar .weatherWind,
#sidebar .weatherLink,
#sidebar .weatherForecastItem {
  font-size: 0.8em;
}
#sidebar .weatherLink,
#sidebar .weatherForecastItem {
  margin-top: 0.5em;
  text-align: left;
}
#sidebar .weatherForecastItem {
  padding: 0.5em 0.5em 0.5em 80px;
  background-color: #fff;
  background-position: left center;
}
#sidebar .weatherForecastDay {
  font-size: 1.1em;
}
/* End Sidebar --- */
/* --- Begin Footer */
#footer .footer-widgets > .block {
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer .footer-widgets > .block a {
  display: block;
  font-size: 12px;
  margin: 5px 0px 5px 30px;
}
#footer .bottom-footer {
  font-size: 12px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
/* End Footer --- */
/* --- Begin Internal Page */
/* End Internal Page --- */
/* --- Begin Single Page */
/* End Single Page --- */
/* --- Begin Debate */
/* End Debate --- */
/* --- Begin Profile */
/* End Profile --- */
/* --- Begin Registration and Login Form */
/* End Registration and Login Form --- */
/***************************** */
/******** End Layout ********* */
/***************************** */
/***************************** */
/**** Begin Anchorage Skin *** */
/***************************** */
/* --- Begin General Elements */
body {
  font-family: 'Ubuntu', sans-serif;
  background: url(../img/background.jpg) fixed;
}
/* End General Elements --- */
/* --- Begin Skin Variables and Custom Style Classes */
.link-color {
  color: red;
}
.gray-text {
  color: #777;
}
a.link-color {
  color: red;
  font-weight: 600;
}
a.link-color:hover {
  color: red;
}
hr {
  border-top: 1px dotted #b2b2b2;
  height: 1px;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.content-font {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.solid-button {
  position: relative;
  text-decoration: none;
  background: #bc0000;
  -webkit-box-shadow: 0px 2px 0px 0px #940000;
  -moz-box-shadow: 0px 2px 0px 0px #940000;
  box-shadow: 0px 2px 0px 0px #940000;
  padding: 5px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
.solid-button:visited,
.solid-button:focus {
  text-decoration: none;
  color: #fff;
}
.solid-button:active {
  top: 1px;
  -webkit-box-shadow: 0px 0px 0px 0px #940000;
  -moz-box-shadow: 0px 0px 0px 0px #940000;
  box-shadow: 0px 0px 0px 0px #940000;
}
.solid-button:hover {
  background: #da1e1e;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.form-button {
  background: #000;
  color: #fff;
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border: 0px;
  text-shadow: 0px 0px 0px #000000;
  -moz-text-shadow: 0px 0px 0px #000000;
  -webkit-text-shadow: 0px 0px 0px #000000;
  font-size: 11px;
  padding: 2px 15px 2px 0px;
  font-weight: bold;
}
.form-button:hover {
  background: #161616;
  color: #fff;
}
.form-button .icon-chevron-right {
  background: #808080;
  padding: 4px 7px;
  margin-right: 8px;
  margin-left: 1px;
}
.news-button {
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  text-shadow: 0px 0px 0px #585657;
  -moz-text-shadow: 0px 0px 0px #585657;
  -webkit-text-shadow: 0px 0px 0px #585657;
  padding: 0px 12px 0px 0px;
  border-top: #fff 1px solid;
  border-right: #fff 1px solid;
  transition: background 0.4s;
  -moz-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
}
.news-button:hover {
  background: #444243;
  color: #fff;
  transition: background 0.4s;
  -moz-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
}
.news-button .icon-double-angle-right {
  background: #bc0000;
  color: #fff;
  padding: 5px 6px 4px 6px;
  margin-right: 5px;
}
.read-more {
  background: #716f70;
  color: #fff;
}
.comment-link {
  background: #e8e8e8;
  transition: background 0.4s;
  -moz-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
}
.comment-link:hover {
  background: #cfcfcf;
  color: #333;
  transition: background 0.4s;
  -moz-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
}
/* End Skin Variables and custom style classes --- */
/* --- Begin Header Styles */
#header .header-top {
  background: #bc0000;
}
#header .header-top .top-block-left {
  background: url(../img/grey_background.jpg);
  margin-left: 20px;
}
#header .header-top .top-block-right {
  background: #bc0000;
}
#header .form-search .search-query {
  color: #fff;
  font-size: 12px;
  border-radius: 1px;
  -ms-border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  background: #aa0000;
  border: 0;
  border-bottom: #bc0000 1px solid;
  -webkit-box-shadow: 0px 0px 0px 1px #9b0000;
  -moz-box-shadow: 0px 0px 0px 1px #9b0000;
  box-shadow: 0px 0px 0px 1px #9b0000;
}
#header .social-links a {
  color: #4f4f4f;
  font-size: 18px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
#header .social-links a:hover {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  text-decoration: none;
  color: #282828;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=0.8);
}
#header .social-links .icon-rss-sign {
  color: #ff8d1f;
  margin-right: 5px;
}
#header .social-links .icon-facebook-sign {
  color: #3b589e;
  margin-right: 5px;
}
#header .social-links .icon-twitter {
  color: #4bcbf2;
  margin-right: 5px;
}
#header .user-buttons {
  float: right;
  margin-right: 15px;
}
#header .user-buttons .btn {
  background: #fff;
  -webkit-box-shadow: 0px 2px 0px 0px #ededed;
  -moz-box-shadow: 0px 2px 0px 0px #ededed;
  box-shadow: 0px 2px 0px 0px #ededed;
  color: #676767;
  font-size: 12px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}
#header .user-buttons .btn:hover {
  color: #bc0000;
  background: #f8f8f8;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}
#header .user-buttons .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
}
#header .user-buttons .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
#header #main-menu {
  border-top: #bc0000 1px solid;
  border-bottom: #e2e2e2 1px solid;
}
#header #main-menu a {
  color: #181818;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#header #main-menu a:hover {
  color: #fff;
  background: #585657;
  text-decoration: none;
  border-bottom: #fff 1px solid;
  -webkit-box-shadow: 0px 6px 0px 0px #bc0000;
  -moz-box-shadow: 0px 6px 0px 0px #bc0000;
  box-shadow: 0px 6px 0px 0px #bc0000;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: 10;
  position: relative;
}
/* End Header Styles --- */
/* --- Begin Content Elements */
#main {
  background: #f2f2f2 url(../img/main-background.png) repeat-x top center;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}
#main-content {
  border-left: #fff 1px solid;
}
/* End Content Elements --- */
/* --- Begin Index */
.news .featured-thumb .landing-title {
  border-left: #bc0000 15px solid;
}
.news h2 a {
  color: #444243;
}
.news h2 .dateline {
  color: #bc0000;
}
.index-section-title {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.extra-news .link .dateline {
  color: #bc0000;
  font-weight: bold;
}
.extra-news a {
  color: #3a3839;
  font-size: 12px;
}
.extra-news a:hover {
  text-decoration: none;
  color: #bc0000;
}
.extra-news a .icon-double-angle-right {
  margin-right: 5px;
}
#videos .video .video-caption {
  text-align: center;
  background: #d1d1d1;
  color: #575757;
  font-size: 12px;
  padding: 4px;
}
#videos .video .title {
  font-size: 13px;
  color: #bc0000;
  font-weight: bold;
}
#videos .video .description {
  font-size: 12px;
  margin-bottom: 10px;
}
#videos .video .read-more {
  position: relative;
  bottom: 0;
}
/* End Index --- */
/* --- Begin Sidebar */
#sidebar {
  border-right: #fff 1px solid;
}
#sidebar #graph {
  margin-bottom: 20px;
}
#sidebar #graph h4 {
  color: #bc0000;
}
#sidebar #login-form {
  background: #bc0000;
}
#sidebar #login-form h4 {
  color: #fff;
}
#sidebar #login-form form {
  margin-bottom: 10px;
}
#sidebar #login-form .control-group {
  margin-bottom: 10px;
}
#sidebar #login-form .input-medium {
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  height: 10px;
  font-size: 12px;
}
#sidebar #login-form .control-label {
  color: #fff;
  font-size: 12px;
  height: 10px;
  line-height: 10px;
}
#sidebar #login-form a {
  color: #fff;
  font-size: 11px;
}
#sidebar #premium-block {
  background: #da1e1e;
}
#sidebar #premium-block h4 {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar #premium-block-description {
  background: #353334;
  color: #d8d8d8;
  font-size: 12px;
  padding-bottom: 15px;
}
#sidebar #extra {
  background: url(../img/grey_background.jpg) fixed;
  height: 1565px;
}
#sidebar .weatherFeed {
  background: #302e2f;
}
#sidebar .weatherTemp,
#sidebar .weatherCountry,
#sidebar .weatherCity {
  color: #bc0000;
}
#sidebar .weatherDesc {
  margin-top: 5px;
}
#sidebar .weatherItem {
  color: #f5f5f5;
}
#sidebar .weatherLink a {
  position: relative;
  text-decoration: none;
  background: #bc0000;
  -webkit-box-shadow: 0px 2px 0px 0px #940000;
  -moz-box-shadow: 0px 2px 0px 0px #940000;
  box-shadow: 0px 2px 0px 0px #940000;
  padding: 5px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
#sidebar .weatherLink a:visited,
#sidebar .weatherLink a:focus {
  text-decoration: none;
  color: #fff;
}
#sidebar .weatherLink a:active {
  top: 1px;
  -webkit-box-shadow: 0px 0px 0px 0px #940000;
  -moz-box-shadow: 0px 0px 0px 0px #940000;
  box-shadow: 0px 0px 0px 0px #940000;
}
#sidebar .weatherLink a:hover {
  background: #da1e1e;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
}
/* End Sidebar --- */
/* --- Begin Footer */
#footer {
  margin-top: 5px;
}
#footer .footer-area {
  background: #cb0f0f url(../img/footer-background.png) fixed;
}
#footer .footer-widgets {
  height: 280px;
  background: url(../img/footer-planet.png) no-repeat center bottom;
}
#footer .footer-widgets > .block {
  margin-top: 30px;
}
#footer .footer-widgets > .block a {
  color: #fff;
}
#footer .bottom-footer {
  background: #353334;
  color: #7a7a7a;
}
#footer .bottom-footer .social-links a {
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
}
#footer .bottom-footer .social-links a:hover {
  text-decoration: none;
  color: #fff;
}
#footer .bottom-footer .social-links .icon-rss-sign {
  color: #ff8d1f;
  font-size: 16px;
  margin-right: 5px;
}
#footer .bottom-footer .social-links .icon-facebook-sign {
  color: #3b589e;
  font-size: 16px;
  margin-right: 5px;
}
#footer .bottom-footer .social-links .icon-twitter {
  color: #4bcbf2;
  font-size: 16px;
  margin-right: 5px;
}
/* End Footer --- */
/* --- Begin Internal Page */
/* End Internal Page --- */
/* --- Begin Section Page */
/* End Section Page --- */
/* --- Begin Debate */
/* End Debate --- */
/* --- Begin Comments */
/* End Comments --- */
/* --- Begin Phone Navigation */
/* End Phone Navigation --- */
/* --- Begin Tablet Navigation (extends from phone nav) */
/* End Tablet Navigation  --- */
/* --- Registration and Login Form */
/* End Registration and Login Form   --- */
/***************************** */
/***** End Anchorage Skin **** */
/***************************** */