/***************************** */
/******** Begin Layout ******* */
/***************************** */
/* --- Begin General Elements */
body {
  background: #d9d9d9;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #000;
}
figure {
  margin: 0;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.full-width {
  width: 100% !important;
}
/* End General Elements --- */
/* --- Begin Header */
#header .header-top {
  font-size: 12px;
  height: 40px;
  background: #b6b6b6;
}
#header .header-top .top-block-left {
  background: #333;
  height: 40px;
}
#header .header-top .top-block-right {
  background: #b6b6b6;
  color: #fff;
}
#header .form-search {
  float: right;
  margin-right: 15px;
}
#header .form-search .search-query {
  height: 15px;
  margin-top: 8px;
  width: 80px;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#header .form-search .big-search {
  width: 150px;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#header .banner {
  height: 82px;
  background: #fff;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(75%, #ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 75%, #f4f4f4);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: -o-linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
  background-image: linear-gradient(#ffffff, #ffffff 75%, #f4f4f4);
}
#header .banner .date-header {
  width: 25%;
  text-align: center;
  line-height: 85px;
  color: #ababab;
  font-size: 12px;
}
#header .social-links {
  width: 24%;
  margin-left: 18px;
  text-align: left;
  line-height: 85px;
  font-size: 14px;
}
#header .social-links a {
  margin-right: 10px;
}
#header #logo {
  margin: 0px 0px 0px 50px;
  width: 50%;
}
#header #main-menu {
  background: #fff;
  height: 30px;
}
#header #main-menu a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
}
/* End Header --- */
/* --- Begin Content Elements */
#main {
  background: #f2f2f2;
}
#main-content {
  padding: 15px 0px 15px 15px;
}
/* End General Content Elements --- */
/* --- Begin Index */
.news {
  border-bottom: #c7c7c7 1px solid;
}
.news figure figcaption {
  text-align: center;
  font-size: 11px;
}
.news .featured-thumb {
  background: #fff;
  padding: 20px 15px 5px 15px;
  position: relative;
}
.news .featured-thumb .landing-title {
  position: absolute;
  top: 0;
  left: 0px;
  background: #333;
  color: #fff;
  font-size: 11px;
  padding: 0px 15px;
  border-left: #626262 15px solid;
}
.news h2 {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 1.6;
}
.news .excerpt {
  font-size: 13px;
}
.news .new-links {
  clear: both;
}
.news .new-links a {
  display: block;
  margin-right: 10px;
  float: left;
}
.featured-new {
  margin-bottom: 20px;
}
.featured-new h2 {
  font-size: 16px;
  border-top: #9a9a9a 1px dotted;
  padding-top: 5px;
  margin-top: 20px;
}
.news-list {
  position: relative;
  margin-bottom: 15px;
}
.news-list .secundary-thumb {
  float: left;
  position: absolute;
  bottom: 0px;
  left: 15px;
  border-left: #fff 1px solid;
  border-right: #fff 1px solid;
  border-top: #fff 1px solid;
}
.news-list header,
.news-list .excerpt {
  width: 75%;
}
.news-list h2 {
  margin-top: 5px;
}
.extra-news {
  display: inline-block;
  width: 48%;
}
.extra-news h4 {
  margin-top: 15px;
}
.extra-news .news-link {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
.left-block {
  margin-right: 18px;
  -webkit-box-shadow: 1px 0px 0px 0px #d8d8d8;
  -moz-box-shadow: 1px 0px 0px 0px #d8d8d8;
  box-shadow: 1px 0px 0px 0px #d8d8d8;
  border-right: #fff 1px solid;
}
#map {
  margin-top: 25px;
}
#videos {
  margin-bottom: 15px;
}
#videos .video {
  width: 185px;
  margin-right: 16px;
  float: left;
}
#videos .video .title {
  padding: 10px 0px;
  display: block;
}
/* End Index --- */
/* --- Begin Sidebar */
#sidebar {
  border-left: #d7d7d7 1px solid;
  -webkit-box-shadow: -1px 0px 0px 0px #ffffff;
  -moz-box-shadow: -1px 0px 0px 0px #ffffff;
  box-shadow: -1px 0px 0px 0px #ffffff;
  height: 100%;
}
#sidebar > .block {
  padding: 5px 15px 5px 15px;
}
#sidebar #graph img {
  background: #fff;
  padding: 5px;
  width: 95%;
}
#sidebar #login-form .form-horizontal .control-label {
  width: 60px;
}
#sidebar #login-form .form-horizontal .controls {
  margin-left: 80px;
}
#sidebar #extra {
  padding-top: 20px;
}
#sidebar #extra .ad {
  margin-bottom: 20px;
}
#sidebar .weatherFeed {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  width: 100%;
  margin-top: 10px;
}
#sidebar .weatherFeed a {
  color: #888;
}
#sidebar .weatherFeed a:hover {
  color: #000;
  text-decoration: none;
}
#sidebar .weatherItem {
  padding: 20px;
  text-align: right;
}
#sidebar .weatherCity {
  text-transform: uppercase;
}
#sidebar .weatherTemp {
  font-size: 2.8em;
  font-weight: bold;
}
#sidebar .weatherDesc,
#sidebar .weatherCity,
#sidebar .weatherForecastDay {
  font-weight: bold;
}
#sidebar .weatherDesc {
  margin-bottom: 0.4em;
}
#sidebar .weatherRange,
#sidebar .weatherWind,
#sidebar .weatherLink,
#sidebar .weatherForecastItem {
  font-size: 0.8em;
}
#sidebar .weatherLink,
#sidebar .weatherForecastItem {
  margin-top: 0.5em;
  text-align: left;
}
#sidebar .weatherForecastItem {
  padding: 0.5em 0.5em 0.5em 80px;
  background-color: #fff;
  background-position: left center;
}
#sidebar .weatherForecastDay {
  font-size: 1.1em;
}
/* End Sidebar --- */
/* --- Begin Footer */
#footer .footer-widgets > .block {
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer .footer-widgets > .block a {
  display: block;
  font-size: 12px;
  margin: 5px 0px 5px 30px;
}
#footer .bottom-footer {
  font-size: 12px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
/* End Footer --- */
/* --- Begin Internal Page */
/* End Internal Page --- */
/* --- Begin Single Page */
/* End Single Page --- */
/* --- Begin Debate */
/* End Debate --- */
/* --- Begin Profile */
/* End Profile --- */
/* --- Begin Registration and Login Form */
/* End Registration and Login Form --- */
/***************************** */
/******** End Layout ********* */
/***************************** */
