
@import "mixins.less";
@import "globalnews.layout.less";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic|Bitter:400,700,400italic);

// Colors Variable

@dark:#000;
@semi-dark:#555;
@primary:#103e82;
@secondary:#f00d14;

// Fonts Variable
@title-font: 'Bitter', serif;
@text-font: 'Source Sans Pro', sans-serif;

body{
	font-family: @text-font;
}

h1, h2, h3, h4{
	font-family: @title-font;
	line-height: 1.4;
}
a{
	color:@primary;
	&:hover{
		text-decoration: none;
	}
}

#top-header{
	color:#555555;
	font-size: 14px;
	a{
		color:#000;
	}
}

#main-header{
	h1{
		a{
			color:@primary;
			span{
				color:@secondary;
			}
		}
	}
	#social-header{
		margin-bottom: 20px;
		margin-top:20px;
		img{
			width:24px;
			height: 24px;
		}
	}
}

#news-ticker {
	height: 28px;
	span {
		color: @secondary;
		font-family: @title-font;
		padding-top:3px;
	}
	ul {
		li {
			line-height: 26px;
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-weight: bold;
	}
}
