@import "mixins.less";
@import "globalnews.layout.less";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic|Bitter:400,700,400italic);

// Colors Variable

@dark:#000;
@semi-dark:#4a4a4a;
@primary:#103e82;
@secondary:#f00d14;

// Fonts Variable
@title-font: 'Bitter', serif;
@text-font: 'Source Sans Pro', sans-serif;

body{
	font-family: @text-font;
}

h1, h2, h3, h4, h5{
	font-family: @title-font;
	line-height: 1.4;
}
a{
	color:@primary;
}

.link-color{
	color:@secondary;
}

.btn{
	.rounded-corners(0px);
}

.solid-button{
	background: @primary;
	color:#fff;
	padding:4px 10px;
	border:0;
	&:hover{
		color:#fff;
		background: @primary + 30;
	}
}

.alert,.input-group-addon{
	.rounded-corners(0px);
}

#top-header{
	color:@semi-dark + 50;
	font-size: 14px;
	a{
		color:@semi-dark + 50;
		&:hover{
			color:@semi-dark;
		}
	}
}

#main-header{
	h1{
		a{
			color:@primary;
			span{
				color:@secondary;
			}
			&:hover,&:focus{
				text-decoration: none;
			}
		}
	}
}

#news-ticker {
	height: 28px;
	span {
		color: @secondary;
		font-family: @title-font;
		padding-top:3px;
	}
	ul {
		li {
			line-height: 26px;
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-weight: bold;
	}
}

#main-navigation{
	#menu{	
		a{
			padding:0px 15px 0px 0px;
			font-size: 16px;
			border-right: @primary 1px solid;
			&.active{
				color:@secondary;
			}
			&:hover,&:focus{
				text-decoration: none;
			}
		}
		#community-link{
			border:0;
			padding-right: 0px;
			margin-right: 0px;
		}	
	}
	.responsive-menu-button{
		color:@primary;
	}
}

#content{
	.article{
		&.featured{
			.caption{
				h2{
					font-size: 24px;			
				} 
			}
		}
		&.list{
			.section-link{
				color:@secondary;
			}
			.excerpt{
				p{
					color:@semi-dark;
				}
			}
		}
	}
	#carousel-sections{
		background:@primary;
		a{
			color:#fff;
			border-right: @primary + 30 1px solid;
			.trans(all,0.3s);
			&:hover{
				background: @primary + 15;
				.trans(all,0.3s);
			}
		}
	}
}

.section-page{
	.pagination > li:last-child > a,
	.pagination > li:first-child > a{
		.rounded-corners(0px);
	}
}

.article-page{
	.article-info{
		color:@semi-dark + 40;
		font-size: 12px;
	}
	.section-link{
		color:@secondary;
	}

	#subtitle-links{
		a.active{
				background: @primary;
		}
		.list-group-item{
			&:first-child,&:last-child{
				.rounded-corners(0px);
			}
		}
	}
	.pagination > li:last-child > a,
	.pagination > li:first-child > a{
		.rounded-corners(0px);
	}
	#comment-form{
		.form-control{
			border-left: @secondary 1px solid;
		}
		.solid-button{
			font-size: 18px;
			padding:10px 20px;
		}
	}
	.comment-box{
		.box-shadow(1px,1px,0px,0px,#d5d5d5)
	}
	.cs_img{
		.cs_img_caption{
			color:@semi-dark + 40;
		}
	}
}

.debate-page{
	.debate-bio{
		margin-top: 5px;
		border-top: @secondary double 3px;
		border-bottom: @secondary double 3px;
		padding:15px 0px 0px 0px;
		text-align: center;
	}
}

.community-page{
	#community-tabs{
		& > li > a{
			padding: 10px 20px;
			.rounded-corners(0px);
		}
	}
	.list-group{
		.list-group-item{
			padding:20px 30px;
			
			&:first-child,&:last-child{
				.rounded-corners(0px);
			}
			&:hover{
				background: @primary;
				color:@primary + 150;
				.trans(all,0.3s);
			}
		}
		.name{
			font-size: 18px;
			font-family: @title-font;
			font-weight: 200;
			margin-left: 20px;
			margin-right: 10px;
		}
	}
}

.profile-page{
	.profile-block{
		border-top: @secondary double 3px;
		border-bottom: @secondary double 3px;
				padding:15px 0px 0px 0px;
		.user-title{
			color:@secondary;
		}
		.profile-avatar{
			text-align: center;
		}
	}
}


/* --- Begin Registration and Login Form */

.zend_form{

    input[type="text"],input[type="password"],textarea{
        border-left: @secondary 1px solid;
    }

    #submit-element{
        #submit{
        	.solid-button;
        	padding:10px 18px;
        	font-size: 16px;
        }
    }
	
	input[type="submit"]{
        .solid-button;
        padding:10px 18px;
        font-size: 16px;
    }
}

/* End Registration and Login Form --- */

#sidebar{
	.block{
		margin-bottom: 30px;
		h4{
			margin:0px 0px 10px 0px;
			color:@secondary;
			font-family: @title-font;
			font-size: 20px;
		}
	}
	#latest-articles-block{
		.link{
			font-size: 12px;
			font-family: @title-font;
			border-bottom: @semi-dark + 100 1px dotted;
			padding-bottom: 10px;
			a{
				color:@semi-dark;
				&:hover{
					color:@dark;
				}
			}
			.time{
				color:@secondary;
				font-family: @text-font;
			}
		}
	}
	#video-block{
		color:@secondary;
		a{
			color:@semi-dark;
			font-family: @title-font;
			font-size: 12px;
			&:hover{
				color:@dark;
			}
		}
	}
	#latest-comments-block{
		.article-link{
			color:@primary;
			font-family: @title-font;
			font-size: 12px;
			&:hover{
				color:@primary + 40;
			}
		}
		.timeago{
			color:@semi-dark + 50;
		}
		.user-link{
			color:@primary;
		}
	}

	#poll{
	    form{
	        margin-bottom: 0px;
	    }

	    .q-score{
	        color:@secondary;
	        float:right;
	    }
		blockquote{
			border:0;
			font-family: @title-font;
			padding:10px 0px 0px 0px;
			color:@semi-dark + 20;
		}
	    input[type="submit"]{
	        color: #fff;
	        background: @primary;
	        border: none;
	        padding: 6px;
	        width: 100%;
	        position: relative;
	        top:-20px;
	    }
	    .total-votes{
	        margin-left:20px;
	        color:#fff;
	        padding-bottom: 15px;
	    }
	    .progress{
	        height: 6px;
	        .rounded-corners(0px);
	    }
	    .poll-option{
	        label{
	            font-size: 12px;
	            width:100%;
	        }
	        input[type="radio"]{
	            margin-right: 5px;
	            position: relative;
	            margin-right: 10px;
	            float: left;
	        }
	    }
	}
}

#footer{
	#contact-us-block{
		.info{
			.info-label{
				color:@semi-dark + 100;
			}
		}
	}
}

/* --- Begin community */

.community-page{
    .user-tab{
        a{
            .rounded-corners(2px);
            color:#000;
            &:hover{
                background: @semi-dark + 160;
            }
        }
        .active > a:focus,.active > a{
            background: @primary;
            color:#fff;
        }
    }
    .user-list{
        background: @semi-dark + 160;
        .user-title{
            color:#000;
        }
        .member{
            color:#878787;
        }
    }
}

/* End community --- */

.responsive-menu {
	background: @primary + 10;

	h3 {
		color: @primary + 80;
		background: @primary - 15;
	}

	a {

		border-bottom: 1px solid @primary;
		&:hover {
			background: @primary + 20;
		}
		&:active {
			background: @primary + 20;
		}
	}
}